header {
    border-bottom: 0.0625rem solid #dddddd;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    max-width: 80rem;
    margin: 1.1875rem auto;
}

.logo {
    width: 18%;
}

.container-search {
    width: 47%;
}

.search {
    width: 90%;
    max-width: 29.375rem;
    margin: 0 auto;
    padding: 0.3125rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    border: 0.0625rem solid #dddddd;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.08), 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
    border-radius: 1.25rem;
}

.search1 {
    width: 33%;
}

.search2 {
    width: 34%;
    border-right: 0.0938rem solid #dddddd;
    border-left: 0.0938rem solid #dddddd;
}

.search3 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    gap: 0.625rem;
}

.search button {
    background-color: transparent;
    border: none;
}

.search button span {
    padding: 0 0.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.search3 button span {
    color: #6a6a6a;
}

.btn-search {
    background-color: #ff385c !important;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-search img {
    height: 0.75rem;
    width: 0.75rem;
}

.container-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.9375rem;
}

.btn-announce {
    padding: 0.75rem;
    border: none;
    background-color: white;
    border-radius: 1.5625rem;
}

.btn-announce:hover {
    background-color: #ededed;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    
    padding: 0.4375rem 0.5rem;
    padding-left: 0.625rem;
    
    background-color: white;
    border: 0.0625rem solid #dddddd;
    border-radius: 1.25rem;

    transition: .3s;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title h1 {
    font-size: 1.6rem;
}

.container-links {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    gap: 3px;

    margin-left: 30px;
}

.link:hover {
    cursor: pointer;
}

.link a {
    color: #222;
    font-size: 1rem;
}

.images-grid {
    display: grid;
    grid-template-rows: 162px 162px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;

    margin-top: 30px;
}

.images-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-acomodacao1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.img-acomodacao1 img {
    border-top-left-radius: 15px;
}

.comments{
    display: flex;
    flex-direction: column;
}

.comments-title{
    gap: 1%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.comments-title img{
    height: 32px;
    width: 32px;
}

.comments-title h1{
    gap: 0;
}

.comments-person{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.comments-person img{
    border-radius: 80px;
    height: 58px;
    width: 58px;
    margin-right: 10px;
}

.comments-person-align h3{
    font-size: 16px;
}

.comments-person-align p{
    font-size: 14px;
}

.comments-rate {
    display: flex;
    flex-direction: row;
}

.comments-rate p{
    margin-left: 5px;
    font-size: 14px;
}

.comments-rate img{
    height: 10px;
    width: 10px;
}

.comments-content{
    margin-top: 5px;
    margin-right: 25px;
}

.comments{
    width: 473px;
    height: 226px;
}

.comments-container{
    height: 610px;
    width: 964px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}