@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  border-bottom: 0.0625rem solid #dddddd;
}
* {
  font-family: "Roboto", sans-serif;
  color: #222222;
  box-sizing: border-box;
}
.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 80rem;
  margin: 1.1875rem auto;
}

.logo {
  width: 18%;
}

.container-search {
  width: 47%;
}

.search {
  width: 90%;
  max-width: 29.375rem;
  margin: 0 auto;
  padding: 0.3125rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 0.0625rem solid #dddddd;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.08),
    0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border-radius: 1.25rem;
}

.search1 {
  width: 33%;
}

.search2 {
  width: 34%;
  border-right: 0.0938rem solid #dddddd;
  border-left: 0.0938rem solid #dddddd;
}

.search3 {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  gap: 0.625rem;
}

.search button {
  background-color: transparent;
  border: none;
}

.search button span {
  padding: 0 0.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.search3 button span {
  color: #6a6a6a;
}

.btn-search {
  background-color: #ff385c !important;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search img {
  height: 0.75rem;
  width: 0.75rem;
}

.container-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 35%;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0.9375rem;
}

.btn-announce {
  padding: 0.75rem;
  border: none;
  background-color: white;
  border-radius: 1.5625rem;
}

.btn-announce:hover {
  background-color: #ededed;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  padding: 0.4375rem 0.5rem;
  padding-left: 0.625rem;

  background-color: white;
  border: 0.0625rem solid #dddddd;
  border-radius: 1.25rem;

  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

.fale-conosco {
  background-color: rgb(247, 243, 243);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
  margin-bottom: 8px;
}

.infos {
  display: flex;
  border-top: 1px solid rgb(185, 185, 185);
  height: 60px;
  justify-content: space-between;
}

.txt-botton {
  display: flex;
}

.txt-botton p {
  margin-top: 21px;
}

.botoes-botton {
  border: none;
  background-color: rgb(247, 243, 243);
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;

  font-size: 14px;
  display: flex;
  margin-top: 21px;
}

.botoes-botton:hover {
  text-decoration: underline;
}

.botoes-redes {
  border: none;
  background-color: rgb(247, 243, 243);
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
}

.locais {
  display: flex;
  border-top: 1px solid rgb(185, 185, 185);
  height: 80px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.localizaçoes {
  display: flex;
}
.localizaçoes p {
  margin-top: 31px;
}
.extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px;
}

.icones-botton {
  display: flex;
}

.atendimento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.hospedagem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.airbnb-final {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.botoes-final {
  border: none;
  background-color: rgb(247, 243, 243);
  cursor: pointer;
  margin-right: 8px;
  margin-top: 16px;
  font-size: 14px;
}

.botoes-local {
  border: none;
  background-color: rgb(247, 243, 243);
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;

  font-size: 14px;
}

.botoes-local:hover {
  text-decoration: underline;
}

.botoes-final:hover {
  text-decoration: underline;
}

.o-q-deve-saber {
  padding-bottom: 48px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.observaçoes {
  margin-top: 30px;
  display: flex;
}

.observaçoes div {
  width: 33.3%;
}

.cancelamento {
  margin-left: 90px;
}

.segurança {
  margin-left: 90px;
}

.observaçoes p {
  margin-top: 10px;
}

.mostrar-mais {
  border: none;
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  color: #222;

  font-size: 1rem;
  text-decoration: underline;
}

.mostrar-mais:hover {
  color: black;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
}

.container {
  width: 80%;
  margin-top: 22px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title h1 {
  font-size: 1.6rem;
}

.container-links {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  gap: 3px;

  margin-left: 30px;
}

.link:hover {
  cursor: pointer;
}

.link a {
  color: #222;
  font-size: 1rem;
}

.images-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.images-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.img-acomodacao1 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.comments-status {
  display: flex;
}
.comments-status div {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b0b0b0;
  align-items: center;
  padding: 24px;
}
.comments-status div:last-child {
  border: none;
}

.comments-status img {
  width: 24px;
}
.img-acomodacao1 img {
  border-top-left-radius: 15px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comments-title {
  gap: 1%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.comments-title img {
  height: 32px;
  width: 32px;
}

.comments-title h1 {
  gap: 0;
}

.comments-person {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.comments-person img {
  border-radius: 80px;
  height: 58px;
  width: 58px;
  margin-right: 10px;
}

.comments-person-align h3 {
  font-size: 16px;
}

.comments-person-align p {
  font-size: 14px;
}

.comments-rate {
  display: flex;
  flex-direction: row;
}

.comments-rate p {
  margin-left: 5px;
  font-size: 14px;
}

.comments-rate img {
  height: 10px;
  width: 10px;
}

.comments-content {
  margin-top: 5px;
  margin-right: 25px;
}

.comments {
  max-width: 473px;
  max-height: 226px;
}

.comments-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 48px;
  padding-top: 48px;
}
.DescBigDiv {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.Desc {
  display: flex;
  flex-direction: column;
  width: 58%;
  margin-right: 8%;
}
.Desc div {
  border-bottom: 1px solid #b0b0b0;
}
.Desc-Titulo {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  padding-top: 32px;
}
.Desc-Titulo h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
.Desc-Titulo p {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}
.Avaliacoes-Titulo img {
  height: 16px;
  width: 16px;
  padding-right: 4px;
}

.Anfitriao {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 24px;
  align-items: center;
}
.Anfitriao img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  aspect-ratio: 1 / 1;
}
.Anfitriao-desc {
  border: none !important;
}
.Anfitriao h3 {
  font-size: 16px;
}
.Anfitriao-desc p {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #6a6a6a;
}
.Anfitriao-desc .dot {
  background-color: #6a6a6a;
}

.Features {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 24px;
}
.Feature {
  display: flex;
  align-items: center;
  gap: 24px;
}
.Feature h3 {
  font-size: 16px;
  font-weight: 500;
}
.Feature p {
  font-size: 14px;
  color: #6a6a6a;
}
.Features div {
  border: none !important;
}
.Features img {
  width: 24px;
  height: 24px;
}

.DescTexto {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 48px;
}
.DescTexto div {
  border: none !important;
}
.DescTexto a {
  font-weight: bold;
}
.DescTexto p {
  font-size: 16px;
  padding-top: 32px;
}
.dots3 {
  font-weight: bold;
  padding-bottom: 16px;
}
.DescTexto img {
  height: 12px;
  width: 12px;
  margin-right: 12px;
}
.traduzir {
  background-color: #f7f7f7;
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
}
.traduzir a {
  font-weight: bold;
}

.Comodidades {
  padding-top: 48px;
  padding-bottom: 48px;
}
.Comodidades h2 {
  font-size: 22px;
  padding-bottom: 24px;
  font-weight: 500;
}
.Comodidades ul {
  list-style: none;
  display: grid;
  max-height: 226px;
  grid-template-columns: 1fr 1fr;
}
.Comodidades li {
  display: flex;
  padding-bottom: 16px;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  gap: 16px;
}
.Comodidades img {
  height: 24px;
  width: 24px;
}
.Comodidades button {
  margin-top: 40px;
  width: 302px;
  height: 48px;
  border: solid 1px #000;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #fff;
}
.Comodidades button:hover {
  background-color: #f7f7f7;
}
.rDesc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 28%;
}
.DescCard {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  padding: 24px;
  height: fit-content;
}
.DescCard h3 span {
  font-weight: bold;
  font-size: 22px;
}
.DescCard h3 {
  font-size: 16px;
  font-weight: normal;
}
.Data-Reserva {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 8px;
  border: solid 1px #b0b0b0;
}
.Data-bl {
  border-left: 1px solid #b0b0b0;
}
.Data-Reserva div {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  padding: 8px;
}
.Data-Reserva div span {
  font-size: 0.625rem;
  font-weight: bold;
}
.hospedes {
  grid-column: span 2;
  border-top: 1px solid #b0b0b0;
}
.hospedes div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}
.hospedes img {
  width: 16px;
  height: 16px;
}
.Card1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.Card1 button {
  background-color: #ff385c;
  color: #f2f2f2;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
}
.txt-aviso {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}
.Card-Preco p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Card-Preco {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #b0b0b0;
}
.Card-Total {
  display: flex;
  align-items: center;
  padding-top: 24px;
  font-weight: bold;
}
.Card-Total p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.dot {
  height: 2px;
  width: 2px;
  background-color: #222222;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}
.mapa {
  padding-top: 48px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  border-bottom: 1px solid #b0b0b0;
}
.mapa h2 {
  font-size: 22px;
  line-height: 26px;
}
.mapa p {
  font-size: 16px;
}
.mapa iframe {
  width: 100%;
}
.miniCard {
  display: flex;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
}
.miniCard h3 {
  font-size: 16px;
  font-weight: bold;
}
.miniCard p {
  font-size: 14px;
  color: #6a6a6a;
}
.miniCard img {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}
.denuncia {
  color: #6a6a6a;
  text-align: center;
  text-align: center;
}
.denuncia img {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.CardReceber {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  max-width: 342px;
  border-radius: 24px;
  justify-content: space-between;
  padding: 24px 0;
}
.CardReceber .host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
}

.CardReceber .CardCols {
  width: 92px;
}
.CardReceber .host .pfpic {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.CardReceber h3 {
  font-size: 28px;
  font-weight: bold;
}
.CardReceber p {
  text-align: center;
  font-weight: bold;
}
.CardReceber .host .flag {
  width: 14px;
  height: 14px;
}
.CardCol {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 12px;
  padding-top: 12px;
}
.CardCol span {
  font-weight: bold;
  font-size: 22px;
}
.CardCol:last-child {
  padding-top: 12px;
  border: none;
}
.Receber {
  padding-top: 40px;
  padding-bottom: 64px;
  border-bottom: 1px solid #b0b0b0;
}
.Receber h2 {
  margin-bottom: 24px;
}
.ReceberCol button {
  border-radius: 8px;
  background-color: #222222;
  color: #f0f0f0;
  height: 48px;
  border: none;
  cursor: pointer;
  max-width: 448px;
  font-weight: bold;
  font-size: 16px;
}
.ReceberCol {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.bb {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid #b0b0b0;
}
.ReceberDesc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
}
.ReceberDesc p {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.info-container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 0px;
  margin-left: 0;
  margin-right: 16;
}

.info-bar {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.info-bar a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

h1,
p {
  margin-bottom: 10px;
}
.proteger {
  display: flex;
  align-items: center;
  gap: 12px;
}
.proteger img {
  width: 24px;
  height: 24px;
}

.button-container {
  text-align: start;
}

.a {
  text-decoration: underline;
  font-weight: 500;
}

.a:hover {
  cursor: pointer;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(221, 221, 221);
  width: 600px;
  margin-left: 0;

  gap: 24px;
  font-size: 16px;
}
.ReceberDesc img {
  width: 24px;
  height: 24px;
}
.ReceberDesc a img {
  width: 12px;
  height: 12px;
}
.ReceberRow {
  display: flex;
}
.ReceberCol h4 {
  font-size: 18px;
  font-weight: 600;
}
.ReceberCol p {
  font-size: 16px;
}
.comments-desktop {
  display: flex;
  flex-direction: column;
}

.mobile-comments {
  display: none;
}
.img-breakpoint{
  display: none;
}
.titulo-brekpoint{
  display: none;
}
@media (max-width: 743px) {
  .titulo-brekpoint{
    display: flex;
  }
  .comments-desktop {
    display: none;
  }
  .mapa {
    padding: 24px 0px;
  }
  .mapa p {
    margin: 0px;
  }
  .mapa iframe {
    height: 218px;
  }
  .mobile-calendar {
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    border-bottom: 1px solid rgb(185, 185, 185);
  }
  .mobile-calendar h2 {
    margin-bottom: 8px;
  }
  .mobile-calendar img {
    width: fit-content;
    height: fit-content;
    align-self: center;
  }
  .comments-title h1 {
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .comments-title {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .mobile-comments {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }
  .cards-comments {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    overflow: hidden;
  }
  .card-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    padding: 20px;
    margin: 24px 8px;
    border-radius: 12px;
    width: 591px;
    height: 260px;
  }
  .container {
    width: fit-content;
    padding: 0px 24px;
  }
  .Receber {
    padding: 32px 0px 24px;
  }
  .CardReceber {
    max-width: 380px;
  }
  .ReceberRow {
    flex-direction: column;
    gap: 32px;
  }
  .ReceberDesc p {
    margin: 0px;
  }
  .ReceberDesc {
    gap: 16px;
  }
  .cancelamento {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
  }
  .cancelamento button {
    text-decoration: none;
    padding-left: 8px;
  }
  .cancelamento .mostrar-mais {
    font-size: 24px;
    font-weight: normal;
  }
  .cancelamento span {
    display: none;
  }
  .cancelamento div {
    border: 0px solid #000 !important;
    padding: 0px !important;
    display: flex;
  }
  .o-q-deve-saber h2 {
    display: none;
  }
  .o-q-deve-saber {
    padding: 0;
    width: 100%;
  }
  .observaçoes {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 24px;
    margin: 0px;
  }
  .observaçoes div {
    padding: 24px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    border-bottom: 1px solid rgb(185, 185, 185);
  }
  .observaçoes .regras-casa {
    border-bottom: 0px solid rgb(185, 185, 185);
  }
  .observaçoes div button {
    font-weight: bold;
  }
  .locais {
    padding-left: 24px;
  }
  .extra {
    flex-direction: column;
  }
  .extra div:first-child {
    padding: 0px 0px 24px 0px;
  }
  .extra div {
    padding: 24px 0px 24px 0px;
    border-bottom: rgb(185, 185, 185) 1px solid;
  }
  .extra div:last-child {
    border-bottom: #000 0px solid;
  }
  .botoes-redes {
    display: none;
  }
  .botoes-botton {
    margin: 0px;
    height: fit-content;
  }
  .txt-botton {
    display: flex;
    flex-direction: column;
  }
  .txt-botton p {
    margin: 0px;
  }
  .infos {
    height: auto;
    padding: 24px;
    margin: 0px;
    flex-direction: column-reverse;
  }
  .txt-botton ul {
    margin-top: 4px;
    display: flex;
  }
  .txt-botton span {
    display: none;
  }
  .icones-botton {
    margin-bottom: 22px;
    gap: 24px;
  }
  .icones-botton .botoes-botton {
    font-weight: bold;
  }
  .botoes-botton svg {
    margin-right: 8px;
  }
  section {
    align-items: flex-start;
  }
  .grid-breakpoint {
    display: flex;
    width: 100%;
  }
  .titulo-brekpoint {
    display: none;
  }
  .popup-breakpoint {
    display: none;
  }
  .comments-container-bp {
    display: none;
  }
  .img-breakpoint{
    display: flex;
  }
  .calendar{
    display: none;
  }
  .container-header{
      display: none;
  }
  .images-grid{
      display: none;
  }
  .grid-breakpoint img{
      width: 100%;
      height: 600px;
      object-fit: cover;
      aspect-ratio: 1;
      margin-top: 30px;

      overflow: hidden;
  }
  .container{
      width: 100%;
  }
  .titulo-pagina{
      display: none;
  }
  .container-links{
      padding: 0 24;
      width: 100%;
      justify-content: flex-end;
  }
  .rDesc{
      display: none;
  }
  .Desc{
      width: 100%;
  }
  .share-save{
      display: none;
  }
  .popup-breakpoint{
      display: flex;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: white;
      width: 100%;
      height: 100px;
      align-items: center;
      border-top: solid;
      border-color: #b0b0b0;
      border-width: 1px;
      
  }
  .popup-breakpoint h3{
      text-decoration: underline;
      margin-bottom: 5px
  }
  .reserva{
      background-color: #ff385c;
      border: none;
      color: #fff;
      border-radius: 10px;
      width: 150px;
      font-size: medium;
      height: 50px;
      
  }
  .comments-container{
      display: none;
  }
  .estrelas img{
      height: 10px;
      width: 10px;
  }
  .estrelas{
      display: flex;
      flex-direction: row;
  }
  .foto-mark{
      height: 50px;
      width: 50px;
      border-radius: 50px;
  }
  .infos-mark{
      display: flex;
      gap: 5px;
     
  }
  .card-comments-bp{
      
      margin: 40px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 10px;
      box-shadow: 10px 10px 5px #b0b0b0;
  }
}
@media (min-width: 744px){
  .grid-breakpoint{
      display: none;
  }
  .titulo-brekpoint{
      display: none;
  }
  .popup-breakpoint{
      display: none;
  }
  .comments-container-bp{
      display: none;
  }
}
