a* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
    max-width: 1150px;
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title h1 {
    font-size: 1.6rem;
}

.container-links {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    gap: 3px;

    margin-left: 30px;
}

.link:hover {
    cursor: pointer;
}

.link a {
    color: #222;
    font-size: 1rem;
}

.images-grid {
    display: grid;
    grid-template-rows: 162px 162px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    
    margin-top: 30px;
}

.images-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-acomodacao1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.img-acomodacao1 img {
    border-top-left-radius: 15px;
}

.comments{
    display: flex;
    flex-direction: column;
}

.comments-title{
    gap: 1%;
    display: flex;
    flex-direction: row;
}

.comments-title img{
    height: 32px;
    width: 32px;
}

.comments-title h1{
    gap: 0;
}

.comments-person{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.comments-person img{
    border-radius: 80px;
    height: 58px;
    width: 58px;
    margin-right: 10px;
}

.comments-person-align h3{
    font-size: 16px;
}

.comments-person-align p{
    font-size: 14px;
}

.comments-rate {
    display: flex;
    flex-direction: row;
}

.comments-rate p{
    margin-left: 5px;
    font-size: 14px;
}

.comments-rate img{
    height: 10px;
    width: 10px;
}

.comments-content{
    margin-top: 5px;
    margin-right: 25px;
}

.comments{
    width: 473px;
    height: 226px;
}

.comments-container{
    height: 610px;
    width: 964px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
}

.info-container {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 0px;
    margin-left: 0;
    margin-right: 16;
}

.info-bar{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.info-bar a {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

h1, p {
    margin-bottom: 10px;
}

.button-container {
    text-align: start;
}

.a {
    text-decoration: underline;
    font-weight: 500;
}

.a:hover{
    cursor: pointer;
}

hr{
    margin-top:30px;
    margin-bottom:30px;
    color: rgb(221, 221, 221);
    width: 600px;
    margin-left: 0;
}
